<%- include("partials/header") -%>

<h1>COMPOSE</h1>
<Form action="/compose" method="POST">
    <label>Title</label>
  <input type="text" name="postTitle"/>
  <label>Content</label>
  <textarea name="postBody" cols="30" rows="5"></textarea>
  <button class="btn" type="submit">PUBLISH</button>
</Form>

<%- include("partials/footer") -%>
